{% extends 'base.html' %}
{% load static %}

{% block content %}

<body class="event_podcast">
<div class="container">
    <section class="team-section text-center my-12">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Our amazing podcast team</h2>
        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
            eum porro a pariatur veniam.</p>

        <!-- Grid row -->
        <div class="team-leader">
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="{% static 'img/Picom.png' %}" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Oprah Muvhundura</h5>
                <p class="text-uppercase blue-text"><strong>Picomm Adminstrator</strong></p>
                <p class="grey-text">Something about his role to the site.</p>
                <ul class="list-unstyled mb-0">
                    <!-- Facebook -->
                    <a class="p-2 fa-lg fb-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    </a>
                    <!-- Twitter -->
                    <a class="p-2 fa-lg tw-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </a>
                    <!-- Instagram -->
                    <a class="p-2 fa-lg ins-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="{% static 'img/Picom.png' %}" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Paulo Junior</h5>
                <p class="text-uppercase blue-text"><strong>Blog administrator</strong></p>
                <p class="grey-text">Something about his role to the site.</p>
                <ul class="list-unstyled mb-0">
                    <!-- Facebook -->
                    <a class="p-2 fa-lg fb-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    </a>
                    <!-- Twitter -->
                    <a class="p-2 fa-lg tw-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </a>
                    <!-- Instagram -->
                    <a class="p-2 fa-lg ins-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </a>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="{% static 'img/Picom.png' %}" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Steve Dino</h5>
                <p class="text-uppercase blue-text"><strong>Podcast Administrator</strong></p>
                <p class="grey-text">Something about his role to the site.</p>
                <ul class="list-unstyled mb-0">
                    <!-- Facebook -->
                    <a class="p-2 fa-lg fb-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    </a>
                    <!-- Twitter -->
                    <a class="p-2 fa-lg tw-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </a>
                    <!-- Instagram -->
                    <a class="p-2 fa-lg ins-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </a>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="{% static 'img/Picom.png' %}" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Phillip Matande</h5>
                <p class="text-uppercase blue-text"><strong>Shop Administrator</strong></p>
                <p class="grey-text">Something about his role to the site.</p>
                <ul class="list-unstyled mb-0">
                    <!-- Facebook -->
                    <a class="p-2 fa-lg fb-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    </a>
                    <!-- Twitter -->
                    <a class="p-2 fa-lg fb-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </a>
                    <!-- Instagram -->
                    <a class="p-2 fa-lg ins-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </a>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="{% static 'img/Picom.png' %}" class="rounded-circle z-depth-1"
                         alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Tadiwa Takavarasha</h5>
                <p class="text-uppercase blue-text"><strong>Publicist Administrator</strong></p>
                <p class="grey-text">Something about his role to the site.</p>
                <ul class="list-unstyled mb-0">
                    <!-- Facebook -->
                    <a class="p-2 fa-lg fb-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    </a>
                    <!-- twitter -->
                    <a class="p-2 fa-lg ins-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </a>
                    <!-- instagram -->
                    <a class="p-2 fa-lg ins-ic">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </a>
                </ul>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid jumbotron -->


        <!-- Divider Section-->
        <section
                style="background: url({% static 'img/divider-bg.jpg' %}); background-size: cover; background-position: center bottom"
                class="divider">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 text-center">
                        <h2 class="text-center">Mercury Technologies In Partnership With SRC
                            The overall aim is to create a non-academic, non-admin content-based and content driven web
                            application that serves the needs of the client while creating value and tremedous benefits
                            for the student body...
                        </h2><a href="#" class="hero-link">View More</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Divider Section-->
        <!--  End Grid jumbotron -->

        <!-- Our Partnership -->
        <div>
            <h2 class="h1-responsive font-weight-bold text-center my-5">Our Partners</h2>
            <p class="grey-text text-center w-responsive mx-auto mb-5">Something about the src board and its
                members.</p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

                    <!-- Rotating card -->
                    <div class="card-wrapper">
                        <div id="card-1" class="card card-rotating text-center">
                            <!-- Front Side -->
                            <div class="face front">
                                <!-- Image -->
                                <div class="card-up">
                                    <img class="card-img-top"
                                         src="https://mdbootstrap.com/img/Photos/Others/images/19.jpg"
                                         alt="Team member card image">
                                </div>
                                <!-- Avatar -->
                                <div class="avatar mx-auto white">
                                    <img src="{% static 'img/Picom.png' %}" class="rounded-circle img-fluid"
                                         alt="First sample avatar image">
                                </div>
                                <!-- Content -->
                                <div class="card-body">
                                    <h4 class="font-weight-bold mt-1 mb-3">Someguy</h4>
                                    <p class="font-weight-bold dark-grey-text">President</p>
                                    <!-- Triggering button -->
                                    <a class="rotate-btn grey-text" data-card="card-1">
                                        <i class="fas fa-redo-alt grey-text"></i> Click here to rotate</a>
                                </div>
                            </div>
                            <!-- Front Side -->
                            <!-- Back Side -->
                            <div class="face back">
                                <!-- Content -->
                                <div class="card-body">
                                    <!-- Content -->
                                    <h4 class="font-weight-bold mt-4 mb-2">
                                        <strong>About me</strong>
                                    </h4>
                                    <hr>
                                    <p>Somehting about that guy
                                    </p>
                                    <hr>
                                    <!-- Social Icons -->
                                    <ul class="list-inline list-unstyled">
                                        <li class="list-inline-item">
                                            <a class="p-2 fa-lg fb-ic">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="p-2 fa-lg pin-ic">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a>
                                        </li>
                                        </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="p-2 fa-lg ins-ic">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="p-2 fa-lg tw-ic">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a>
                                        </li>
                                        </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <!-- Back Side -->
                        </div>
                    </div>
                    <!-- Rotating card -->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                    <!-- Rotating card -->
                    <div class="card-wrapper">
                        <div id="card-2" class="card card-rotating text-center">
                            <!-- Front Side -->
                            <div class="face front">
                                <!-- Image -->
                                <div class="card-up">
                                    <img class="card-img-top"
                                         src="https://mdbootstrap.com/img/Photos/Others/images/82.jpg"
                                         alt="Team member card image">
                                </div>
                                <!-- Avatar -->
                                <div class="avatar mx-auto white">
                                    <img src="{% static 'img/Picom.png' %}" class="rounded-circle"
                                         alt="Second sample avatar image">
                                </div>
                                <!-- Content -->
                                <div class="card-body">
                                    <h4 class="font-weight-bold mt-1 mb-3">Somechick</h4>
                                    <p class="font-weight-bold dark-grey-text">Vice-President</p>
                                    <!-- Triggering button -->
                                    <a class="rotate-btn grey-text" data-card="card-2">
                                        <i class="fas fa-redo-alt grey-text"></i> Click here to rotate</a>
                                </div>
                            </div>
                            <!-- Front Side -->
                            <!-- Back Side -->
                            <div class="face back">
                                <!-- Content -->
                                <div class="card-body">
                                    <!-- Content -->
                                    <h4 class="font-weight-bold mt-4 mb-2">
                                        <strong>About me</strong>
                                    </h4>
                                    <hr>
                                    <p>Something about that chick....
                                    </p>
                                    <hr>
                                    <!-- Social Icons -->
                                    <ul class="list-inline list-unstyled">
                                        <li class="list-inline-item">
                                            <a class="p-2 fa-lg fb-ic">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="p-2 fa-lg pin-ic">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a>
                                        </li>
                                        </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="p-2 fa-lg ins-ic">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="p-2 fa-lg tw-ic">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a>
                                        </li>
                                        </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <!-- Back Side -->
                        </div>
                    </div>
                    <!-- Rotating card -->
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12">
                    <!-- Rotating card -->
                    <div class="card-wrapper">
                        <div id="card-3" class="card card-rotating text-center">
                            <!-- Front Side -->
                            <div class="face front">
                                <!-- Image -->
                                <div class="card-up">
                                    <img class="card-img-top"
                                         src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(14).jpg"
                                         alt="Team member card image">
                                </div>
                                <!-- Avatar -->
                                <div class="avatar mx-auto white">
                                    <img src="{% static 'img/Picom.png' %}" class="rounded-circle img-fluid"
                                         alt="Third sample avatar image">
                                </div>
                                <!-- Content -->
                                <div class="card-body">
                                    <h4 class="font-weight-bold mt-1 mb-3">Somechick</h4>
                                    <p class="font-weight-bold dark-grey-text">Treasurer</p>
                                    <!-- Triggering button -->
                                    <a class="rotate-btn grey-text" data-card="card-3">
                                        <i class="fas fa-redo-alt grey-text"></i> Click here to rotate</a>
                                </div>
                            </div>
                            <!-- Front Side -->
                            <!-- Back Side -->
                            <div class="face back">
                                <!-- Content -->
                                <div class="card-body">
                                    <!-- Content -->
                                    <h4 class="font-weight-bold mt-4 mb-2">
                                        <strong>About me</strong>
                                    </h4>
                                    <hr>
                                    <p>Something about that chick...
                                    </p>
                                    <hr>
                                    <!-- Social Icons -->
                                    <ul class="list-inline list-unstyled">
                                        <li class="list-inline-item">
                                            <a class="p-2 fa-lg fb-ic">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="p-2 fa-lg pin-ic">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a>
                                        </li>
                                        </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="p-2 fa-lg ins-ic">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="p-2 fa-lg tw-ic">
                                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a>
                                        </li>
                                        </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <!-- Back Side -->
                        </div>
                    </div>
                    <!-- Rotating card -->
                </div>
                <!-- Grid column -->

            </div>
            <!-- Contact form -->

            <section id="contact">
                <div class="section-content">
                    <h1 class="section-header-effect">More Info About Us</h1>
                    <h3>The general Pearson culture is that of shying away from having real life conversations, being
                        disengaged from campus activities,
                        and a lack fo social cohension amongst students.</h3>

                </div>
                <div class="form-group col-md-12">
                    <a href="#" class="aboutus">Click to visit</a>
                    <!--<button type="submit" class="aboutus">Visit Us</button>-->
                </div>
                <section id="contact">

        </div>

    </section>

    </section>

    </main>
</div>
</div>
</body>
{% endblock content %}